{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'title' %} 
    José Vitor Rodrigues
{% endblock %}

{% block 'corpo' %}
    <section>
        <h1>José Vitor Rodrigues</h1>
        <p>Sou um desenvolvedor Full Stack apaixonado por tecnologia e pela criação de soluções que fazem a diferença. Minha jornada profissional é guiada pelo constante desejo de aprender, evoluir e entregar resultados de alta qualidade.</p>
        <p>Tenho conhecimentos sólidos em Desenvolvimento Back-End, trabalhando com linguagens como ADVPL, Python e PHP, onde me destaco pela criação de soluções robustas e eficazes. No Desenvolvimento Front-End, possuo domínio nas tecnologias HTML, CSS e JavaScript, permitindo construir interfaces funcionais e intuitivas.</p>
        <p>Minha trajetória inclui projetos desenvolvidos para as plataformas Fluig e TOTVS Protheus, além de aplicações voltadas para o desenvolvimento web. Cada projeto foi uma oportunidade de enfrentar desafios, aplicar conhecimento e agregar valor por meio de soluções inovadoras.</p>
        <p>Meu grande objetivo de carreira é me tornar um desenvolvedor capaz de resolver os problemas mais complexos possíveis. Para isso, estou sempre em busca de aprendizado constante, mantendo-me atualizado sobre novas tecnologias e boas práticas de desenvolvimento.</p>
        <p>Acredito que a combinação de conhecimento técnico, lógica de programação e dedicação é a chave para construir soluções de alto impacto e superar expectativas. Estou sempre pronto para enfrentar novos desafios e contribuir para projetos que exigem comprometimento, criatividade e evolução contínua.</p>
    </section>
    <section class="Experiencias">
        <h1>Experiências Profissionais</h1>
        <h3>THCM Desenvolvendo Cidade</h3>
        <p>Out 2021 - Out 2023</p>
        <p>Estágio no Setor TI</p>
        <p>Funções: Como estagiário em TI, desempenhei diversas funções, incluindo suporte técnico a usuários, formatação e manutenção de computadores, além da elaboração de relatórios personalizados para o ERP Protheus da TOTVS, atendendo às necessidades específicas da empresa e contribuindo para a eficiência dos processos internos.</p>
        <br>
        <p>Out 2023 - Momento</p>
        <p>Analista de Desenvolvimento Júnior</p>
        <p>Funçoes: Como Analista de Desenvolvimento Júnior, atuo no desenvolvimento de formulários, datasets avançados e widgets para a plataforma TOTVS Fluig. Também desenvolvo rotinas em ADVPL para o sistema Protheus, abrangendo desde tarefas simples até soluções complexas, como intercompany personalizado, importação de contas a pagar, elaboração de relatórios e integração via APIs. Além disso, sou responsável por atualizações e desenvolvimento de páginas para o site da empresa, contribuindo para melhorias contínuas nos processos e na presença digital.</p>
    </section>
    <section class="Formação">
        <h1>Formação</h1>
        <h2>Ciencias da Computação</h2>
        <h3>Centro Universitário Barão de Mauá</h3>
        <h3>Janeiro 2020 - Janeiro 2024</h3>
        <p>O Bacharelado em Ciência da Computação pelo Centro Universitário Barão de Mauá proporcionou uma formação sólida e abrangente, combinando teoria e prática nas principais áreas da computação. Com nota 4 no Enade e conceito máximo (5) pelo MEC, o curso se destaca pela excelência acadêmica e pela preparação de profissionais qualificados para desenvolver soluções tecnológicas inovadoras. Essa formação permite atuar em diversas áreas da tecnologia da informação, contribuindo para o avanço e a inovação no setor. Dentro da formação obtive conhecimento em SQL, desenvolvimento web com o framework Django, POO, Inteligencia Artificial entre outras coisas</p>
    </section>
{% endblock %}