{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/header.css' %} ">
<script src="{% static 'base/js/script.js' %}"></script>

<header id="cabecalho">
    <div class="container">
        <div class="logo">
            <img src="{% static 'base/img/programacao.png' %}" alt="{% trans 'imagem simbolo de programação' %}" id="dev">
        </div>
        <div class="menu">
            <nav>
                <a href="#home" class="menu-link">{% trans 'Início' %}     </a>
                <a href="#sobre" class="menu-link">{% trans 'Sobre' %}     </a>
                <a href="#project" class="menu-link">{% trans 'Projetos' %}</a>
                <a href="#contato" class="menu-link">{% trans 'Contato' %}</a>
            </nav>
        </div>

        <button onclick="animar()" class="sanduiche" id="btm-menu">
            <span class="linha"></span>
            <span class="linha"></span>
            <span class="linha"></span>
        </button>

        <div class="menu-mobile" id="menu-mobile" onclick="animar()">
            <nav>
                <a href="#home" class="menu-link">{% trans 'Início' %}     </a>
                <a href="#sobre" class="menu-link">{% trans 'Sobre' %}     </a>
                <a href="#project" class="menu-link">{% trans 'Projetos' %}</a>
                <a href="#contato" class="menu-link">{% trans 'Contato' %}</a>
            </nav>
        </div>
        <div class="social">
            <a href=""><button><i class="fa-brands fa-square-github"></i></button></a>
            <a href=""><button><i class="fa-brands fa-linkedin"></i></button></a>
            <a href=""><button><i class="fa-solid fa-envelope"></i></button></a>
        </div>
    </div>

    
</header>